

{% extends 'network/layout.html' %}
{% load crispy_forms_tags %}
{% block title %}Edit Profile{% endblock %}

{% block body %}
<div>
  <h2 style="text-align: center; color: darkgrey;">Edit Profile</h2>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form | crispy }}
    <button class="btn btn-secondary" type="submit">Save Changes</button>
  </form>
</div>
</div>
</div>
</div>
{% endblock %}